#dygraph {
	width: 60%;
	text-align: center;
	display: inline-block;
}
#dygraph-labels {
	width: auto;
	display: inline-block;
	text-align: top;
	vertical-align: top;
}
.dygraph-label {
	font-weight: normal;
}
body {}
a:hover, a:active { 
	color: #944;
}
p.by {
	text-align: center;
	margin-top: 20px;
	font-size: 0.8em;
	color: #777;
}
p.by a {
	color: #777;
	text-decoration: none;
}

@media screen and (min-width: 930px) {
	#dygraph {
		display: block;
	}
	#dygraph-labels {
		display: block;
		float: right;
		margin-right: -120px;
		width: 120px;
	}
}
