html {
	background-color: #fff;
}
body {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 50px;
}

#dygraph-container {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
	padding: 0;
	margin: 0;
}
#dygraph {
	position: absolute;
	left: -50px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
}

